.RegisterContainer {
  margin: 2% 45%;
}
.success {
  border: solid green 1px;
}

.Error {
  border: solid red 1px;
}

.errorMsg {
  color: red;
}

.SuccesMsg {
  color: green;
}

.Register_Container{
  margin: 2% 40%;
  
}